.AboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: linear-gradient(90deg, #004aad, #cb6ce6);
}

.InfoContainer {
  margin: 1rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 20px;
  padding-left: 6rem;
  padding-right: 6rem;
}

.InfoContainer p {
  color: rgb(217, 226, 236);
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5;
}

@media screen and (max-width: 480px) {
  .InfoContainer {
    margin: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .AboutContainer {
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.Linkto {
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0% 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease;
}

.Linkto:hover {
  background-size: 100% 2px;
}
