.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: linear-gradient(90deg, #004aad, #cb6ce6)
}

.footerContainer p {
  font-size: 0.9rem;
  color: rgb(217, 226, 236);
  margin: 0.5rem;
}

@media screen and (max-width: 480px) {
  .footerContainer {
    flex-direction: column;
  }

  .footerContainer p {
    font-size: 0.8rem;
    text-align: center;
    margin: 1rem;
  }
}
